html, body { 
    font-family: Arial, sans-serif; 
    margin: 0; 
    padding: 0; 
    background: #ede3ff; 
}
.topbar { 
    background: #d4beff; 
    padding: 25px; 
    text-align: center; 
    margin-top: 0;
}
.topbar a { 
    color: white; 
    margin: 0 15px; 
    text-decoration: none; 
    font-size: 18px; 
    font-weight: bold; 
    cursor: pointer; 
}
.topbar a:hover { 
    color: #b18cfa;
}
.container { 
    max-width: 1200px; 
    margin: 20px auto; 
    padding: 30px; 
    background: white; 
    border-radius: 8px; 
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1); 
    padding-top: 8px;
}
.hidden { 
    display: none; 
}
button { 
    padding: 8px 12px; 
    border: none; 
    cursor: pointer; 
    border-radius: 4px; 
}
.boton-editar { 
    background: #ffc30f; 
    color: white; 
}
.boton-editar:hover { 
    background: #ffb700; 
    color: white; 
}
.boton-eliminar { 
    background: #D32F2F; 
    color: white; 
}
.boton-eliminar:hover { 
    background: #ab1212; 
    color: white; 
}
.accept-btn { 
    background: #4CAF50; 
    color: white; 
}
.reject-btn { 
    background: #D32F2F; 
    color: white; 
}
.boton-form {
    font-size: 14.5px;
}
.boton-form:hover{
    background-color: rgb(227, 224, 224);
}
.devolucion { 
    background: #e6d7ff; 
    padding: 15px; 
    padding-bottom: 5px; 
    margin-bottom: 10px; 
    border-radius: 8px; 
    cursor: pointer; 
    transition: 0.3s; 
}
.devolucion:hover { 
    background: #ede3ff; 
}
.devolucion h3 { 
    margin: 0; 
}
.devolucion-detalle { 
    display: none; 
    padding-top: 0px; 
    border-top: 2px solid #d4beff; 
    margin-bottom: 15px;
}
.devolucion-detalle:last-child { 
    margin-bottom: 0px; 
}
.producto { 
    display: flex; 
    align-items: center; 
    margin-top: 5px; 
    margin-bottom: -15px;
}
table { 
    width: 100%; 
    border-collapse: collapse; 
    margin-top: 10px; 
}
th { 
    padding: 13px; 
    border: 1px solid #c9afff; 
    text-align: left; 
    background: #d4beff; 
    color: white; 
}
td { 
    padding: 10px; 
    border: 1px solid #ddd; 
    text-align: left; 
}
.talla-group { 
    display: flex; 
    flex-direction: column; 
}
.talla-item { 
    display: flex; 
    align-items: center; 
    margin-bottom: 10px; 
}
.talla-item input[type="number"] { 
    display: none; 
    margin-left: 10px; 
    width: 80px;
}
.acciones { 
    width: 145px; 
    padding-right: 0;
}
.precio { 
    width: 90px; 
    padding-right: 0;
}
.talla { 
    width: 60px; 
    padding-right: 0; 
}
.id { 
    width: 50px; 
    padding-right: 0; 
}
.imagen {
    width: 100px;
}
form { 
    align-content: center; 
}
footer{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
footer button {
    margin-left: 15px;
    margin-right: 15px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background: #d4beff; 
    color: white;
}
footer button:hover {
    background: #c1a3fc;
}
footer button:disabled {
    background: #eae0ff;
    color: #f6f6f6;
    cursor: default;
}
footer span {
    margin-left: 8px;
    margin-right: 8px;
    font-size: 16px;
}
.input-text {
  display: flex;
  flex-direction: column;
}
.input-text label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}
.input-text input {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}
.input-text input:focus {
    border-color: #ae85ff;
    outline: none;
}
.input-block {
    display: flex;
    flex-direction: row;
}
.input-block span {
    margin-left: 12px;
    margin-top: 10px;
    color: red;
}
#imagen {
    margin-bottom: 10px;
}
select {
    padding: 10px 12px;
    font-size: 16px;
    border: 1.5px solid #c1a3fc;
    border-radius: 5px;
    background-color: #f1f1f1;
    color: #333;
    transition: all 0.3s ease;
    width: 200px;
    padding-right: 20px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url("https://cdn-icons-png.flaticon.com/512/8066/8066258.png") no-repeat right 11px center;
    background-size: 18px;
}
select:focus {
    outline: none;
}
option {
    background-color: #ffffff;
    color: #333;
    border: 1px solid #ddd;
}
#tabla-productos td.imagen img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: -4px;
}
.barra-superior {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.barra-superior input {
    height: 20px;
    width: 300px;
    padding-bottom: 8px;
    padding-top: 9px;
    padding-inline: 12px;
    border-radius: 10px;
    border: 1.5px solid #c1a3fc;
}
.barra-superior input:focus {
    border-color: #ae85ff;
    outline: none;
}
.barra-superior h2 {
    padding-left: 3px;
    padding-top: 3px;
}
.barra-busqueda {
    width: 360px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.barra-busqueda img{
    width: 27px;
    padding-top: 1.25px;
    padding-right: 1px;
    cursor: pointer;
}
.password-block {
    width: 658px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.password-block input {
    width: 600px;
}
.password-block img {
    width: 27px;
    padding-top: 1.25px;
    padding-right: 1px;
    cursor: pointer;
}